<div class="main-content" fxLayout="row" fxLayoutAlign="center center">
  <md-card class="payment-card">
    <md-card-header>
      <md-card-title>
        <h2>Amount $10.00</h2>
      </md-card-title>
      <md-card-subtitle>
        <h4>Address Info</h4>
      </md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <form fxLayout="column">
        <div>
          <md-input-container class="full-width">
            <input mdInput type="text" placeholder="Address" [ngModel]="cardService.creditCard.billingAddress.address1" name="address1">
          </md-input-container>
        </div>
        <div>
          <md-input-container class="full-width">
            <input mdInput type="text" placeholder="Address 2" [ngModel]="cardService.creditCard.billingAddress.address2" name="address2">
          </md-input-container>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
          <div class="full-width">
            <md-input-container class="full-width">
              <input mdInput type="text" placeholder="City" [ngModel]="cardService.creditCard.billingAddress.city" name="city" >
            </md-input-container>
          </div>
          <div class="full-width pad-top-sm">
            <md-select placeholder="State" [ngModel]="cardService.creditCard.billingAddress.state" name="state" class="full-width">
              <md-option *ngFor="let state of states" [value]="state">{{ state }}</md-option>
            </md-select>
          </div>
          <div class="full-width">
            <md-input-container class="full-width">
              <input mdInput type="text" placeholder="Zip" [ngModel]="cardService.creditCard.billingAddress.zipCode" name="zipCode">
            </md-input-container>
          </div>
        </div>
      </form>
    </md-card-content>
    <md-card-actions>
      <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="5px">
        <button md-button (click)="back()">Back</button>
        <button md-raised-button (click)="submit()">Submit</button>
      </div>
    </md-card-actions>
  </md-card>
</div>
