/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.main-content {
    background: rgb(151, 153, 155);
    height: calc(100% - 64px);
}

.full-width {
    width: 100%;
}

.pad-top-sm {
    padding-top: 10px;
}

.hide {
    display: none;
}

.payment-card {
    max-width: 500px;
}

.ladda-button {
    background: white !important;
    font-size: 14px !important;
}